api_keys.json
database/users.db
database/secret.key
database/flask_secret.key
uploads/*
!uploads/.gitkeep
build/
dist/
*.spec
__pycache__/
*.pyc
*.pyo
node_modules/
electron/node_modules/
electron/icon.png
*.exe
*.lnk
desktop/bin/
desktop/obj/
electron/node_modules/